@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .logo {
        gap: 8px;
    }

    .logo-text {
        font-size: 40px;
    }

    .menu {
        flex-direction: column;
        gap: 50px;
        font-size: 40px;
        align-items: center;
    }

    .menu li a {
        padding: 17px 40px;
    }

    .menu li button {
        font-size: 18px;
        padding: 15px 22px;
    }

}